*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background:  rgb(236, 236, 236);

}

h1{
    margin-left: 0.3em;
}

h2,p{
    margin-left: 0.3em;
    background-color: white;
}

#enviar_pesquisa{
    border: none;
    background-color: white;
    margin-top: 1.2em;
}

#lupa, #enviar_pesquisa{
    background-color: rgb(236, 236, 236);
    height: 1.7em;
    margin-top: 0.2em;
    width: 1.7em;
}

#saiba_mais{
    background-color: rgb(122, 122, 122);
    border-radius: 10px;
    border: none;
    color: white;
    margin-left: 0.8em;
    width: 8em;
}

.recomendacoes{
    background-color: white;
    width: 1000vh;
}

#pesquisa_resultado{
    background-color: white;
    border-color: white;
    border-top: 0cm;
    border-left: 0cm;
    border-radius: 10px;
    color:rgb(236, 236, 236);
    font-size: 1.2em ;
    margin-left: 0.8em;
    margin-right: 0.55em;
    padding: 0.23em;
    width: 65em;
}