*{
    margin: 0;
    padding: 0; 
    font-family: 'Roboto', sans-serif;
    background:  rgb(255, 255, 255);

}

#backg{
    background: #FFFFFF url("https://scontent.fcac3-1.fna.fbcdn.net/v/t1.6435-9/147489475_1903786203108882_6471014805374559751_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=-zjC0wyeUEEAX8sjzTr&_nc_ht=scontent.fcac3-1.fna&oh=00_AfB4WndaXW2WSy_8HRMMGsQCqPDDZhKV_dJZYwWgtvSGiQ&oe=649725AD") no-repeat top;
    background-size: cover;
    height: 100%;
    width: 100%;

}

h1{
    background: none;
    color: #FFFFFF;
    margin-left: 0.3em;
}

h2,p{
    margin-left: 1.6em;
    background-color: white;
}

#enviar_pesquisa{
    border: none;
    background-color: white;
    margin-top: 1.2em;
}

#rec img {
    border-radius: 10px;
    margin-right: 70px;
}

#rec{
    align-items: center;
    margin-left: 70px;
    margin: 1cm;
    margin-block-end: 1cm;
    background-color: white;
}

#saiba_mais{
    background-color: rgb(122, 122, 122);
    border-radius: 10px;
    border: none;
    color: white;
    margin-left: 0.8em;
    width: 6em;
}

#pesquisa_resultado{
    background-color: white;
    border-color: white;
    border-top: 0cm;
    border-left: 0cm;
    border-radius: 10px;
    color:rgb(126, 125, 125);
    font-size: 1.2em ;
    margin-left: 0.8em;
    margin-right: 0.55em;
    padding: 0.23em;
    width: 65em;
}