#locationContainer {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

#presentationRow {
    width: 100%;
    height: 30%;
}

#mainImage {
    height: 70%;
    width: 20%;
    margin: 0 40%;
}

#descriptionRow {
    height: 70%;
    width: 100%;
}